.dashboard {
    padding: 2rem;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .dashboard {
        padding: 1rem;
        padding-top: 5rem; /* Espacio para el botón de menú */
    }
}