<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KleinNotes{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/forms.css' %}">
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>